body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.main{
    background-color: rgb(245, 245, 245);
}


@import "header";
@import "auth";
@import "banner";
@import "profile";
@import "carouselOptions";
@import "carouselSalesOff";
@import "carouselDelivery";
@import "carouselHighlights";
@import "productsList";
@import "productsView";
@import "Loading";
@import "breadcrumb";
@import "comparisonPage";
@import "cart";
@import "purchases";