body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.main {
  background-color: whitesmoke;
}

@media screen and (min-width: 1050px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }

  .search-container {
    margin-top: 50px;
    width: 48%;
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 10px;
    position: relative;
  }

  .search-container input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: #654bb9 1px solid;
    outline: none;
  }

  .search-container input::placeholder {
    text-align: left;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }

  .search-container .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #654bb9;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .search-container .search-option {
    width: 100%;
    position: absolute;
    top: 102%;
    background-color: #ffffff;
    z-index: 999999;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);
  }

  .search-container .search-option ul {
    padding: 0;
    list-style: none;
  }

  .search-container .search-option ul a {
    text-decoration: none;
  }

  .search-container .search-option ul a li {
    padding: 10px 20px 10px 20px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #292929;
  }

  .search-container .search-option ul a li:hover {
    background-color: #f9f9f9;
  }

  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-item {
    color: #292929;
    text-decoration: none;
    padding: 10px;
    font-size: 0.9rem;
  }
}
/* CAROUSEL PROMOCIONES */
.slider {
  width: 100%;
  height: 140px;
  position: relative;
}

.slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider .isActiveSlider {
  visibility: visible;
  /* filter: brightness(1); */
  opacity: 1;
}

.slider .leftArrow,
.slider .rightArrow {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  color: silver;
}

.slider .leftArrow {
  left: 0;
}

.slider .rightArrow {
  right: 0;
}

.slider .carousel-group-index {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .carousel-group-index .carousel-index {
  width: 5px;
  height: 5px;
  border: 2px solid silver;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.slider .carousel-group-index .isActiveCarouselIndex {
  background-color: silver;
}

@media screen and (min-width: 768px) {
  .slider {
    height: 180px;
  }
}
@media screen and (min-width: 1050px) {
  .slider {
    height: 300px;
  }
}
/* SECTION OPTIONS */
.section-options {
  width: 100%;
  margin-top: 4%;
  position: relative;
  overflow: hidden;
}

.section-options .section-options-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  position: relative;
  transition: all 1s ease;
}

.section-options .section-options-list .section-options-list-item .section-options-list__card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.section-options .section-options-list .section-options-list-item .section-options-list__card img:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
}

.section-options .section-options-list .section-options-list-item .section-options-list__card figcaption {
  text-align: center;
  font-weight: 500;
  color: #4a4a4a;
}

.section-options .button-optionleft {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}

.section-options .button-optionright {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}

.sales-off-section {
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.27);
}

.sales-off-section .sales-off-section__title {
  padding-left: 1%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.sales-off-section .sales-off-section__title h3 {
  margin: 0;
  background-color: #470099;
  background-image: linear-gradient(90deg, #470099 0%, #8c0099 46%, #d20199 100%);
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 600;
  padding: 7px 20px;
  letter-spacing: 1px;
}

.sales-off-section .sales-off-section__products {
  display: flex;
  position: relative;
  transition: all 0.5s ease;
}

.sales-off-section .sales-off-section__products .sales-off-section__card {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__images {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__images .sales-off-section__imagesProduct {
  width: 100%;
  height: auto;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__images .sales-off-section__imagesShipping {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__images .sales-off-section__imagesPayment {
  position: absolute;
  width: 40%;
  bottom: 0;
  left: 0;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__productName {
  margin: 0;
  padding: 5% 10% 5% 10%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #383838;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__discountContainer {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 300;
  font-family: sans-serif;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__discountContainer :nth-child(1) {
  color: #888888;
  text-decoration: line-through;
  margin: 0;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__discountContainer :nth-child(2) {
  background-color: #d93175;
  border-radius: 2px;
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
  padding: 2px 4px;
}

.sales-off-section .sales-off-section__products .sales-off-section__card .sales-off-section__productPrice {
  padding: 5% 10% 0% 10%;
  margin: 0;
  font-size: 1.3rem;
  color: #383838;
}

.sales-off-section .button-saleright {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.sales-off-section .button-saleleft {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.weDeliverIt-section {
  width: 95%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.08);
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item .weDeliverIt-item__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item .weDeliverIt-item__img img {
  width: 90%;
  height: auto;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item:hover {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.27);
}

.weDeliverIt-section .weDeliverIt-item__content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item__content img {
  width: 25%;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item__content h2 {
  display: inline;
  color: white;
  padding: 5px;
  font-size: 1.3rem;
  user-select: none;
}

.weDeliverIt-section .weDeliverIt-item__content button {
  background-color: white;
  border: 1px solid #440099;
  padding: 15px;
  cursor: pointer;
  color: #440099;
  transition: all ease 0.3s;
}

.weDeliverIt-section .weDeliverIt-item__content button:hover {
  background-color: #440099;
  color: white;
}

.weDeliverIt-section .weDeliverIt-item__content .deliver1content h2 {
  background-color: #ba1e92;
}

.weDeliverIt-section .weDeliverIt-item__content .deliver2content h2 {
  background-color: #654bb9;
}

.weDeliverIt-section .deliver1img {
  background-image: linear-gradient(to right, #cf61b2 70%, white 30%);
}

.weDeliverIt-section .deliver2img {
  background-image: linear-gradient(to right, #846fc7 70%, white 30%);
}

@media screen and (min-width: 1050px) {
  .weDeliverIt-section {
    flex-direction: row;
  }
}
/* carousel five products - highlights */
.carousel-five-products-view-section {
  width: 95%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  overflow: hidden;
  position: relative;
}

.carousel-five-products-view-section .title-carousel-five-products {
  font-size: 1.5rem;
}

.carousel-five-products-view-section .carousel-five-products-view-container {
  background-color: whitesmoke;
  margin-bottom: 4%;
  display: flex;
  gap: 10px;
  position: relative;
  transition: all 0.5s ease;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.08);
  transition: all ease 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__img {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__img .carousel-five-products-productImg {
  width: 100%;
  height: auto;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__img .carousel-five-products-shippingImg {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  z-index: 99;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__img .carousel-five-products-paymentImg {
  position: absolute;
  width: 40%;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__content-product {
  margin: 0;
  padding: 5% 10% 5% 10%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #383838;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products__discountContainer {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  font-weight: 300;
  font-family: sans-serif;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products__discountContainer :nth-child(1) {
  color: #888888;
  text-decoration: line-through;
  margin: 0;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products__discountContainer :nth-child(2) {
  background-color: #d93175;
  border-radius: 2px;
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
  padding: 2px 4px;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item .carousel-five-products-view-item__content-price {
  padding: 5% 10% 0% 10%;
  margin: 0;
  font-size: 1.3rem;
  color: #383838;
}

.carousel-five-products-view-section .carousel-five-products-view-container .carousel-five-products-view-item:hover {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.27);
}

.carousel-five-products-view-section .button-optionright-carousel-five {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  color: #aaaaaa;
}

.carousel-five-products-view-section .button-optionleft-carousel-five {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  color: #aaaaaa;
}

.category-products-container {
  width: 95%;
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 30px auto;
}

.aside-form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.aside-form-container h3 {
  color: #484848;
}

.aside-form-container h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #585858;
  margin: 0;
}

.aside-form-container h4 span {
  color: #484848;
  font-weight: 700;
}

.aside-form-container form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.aside-form-container form label {
  margin-top: 20px;
  color: #585858;
  font-size: 0.9rem;
}

.aside-form-container form .label-checkbox {
  margin-top: 10px;
}

.aside-form-container form .brand-label {
  color: #484848;
  font-size: 0.9rem;
  font-weight: 700;
}

.aside-form-container form .select {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: #484848;
  font-weight: 700;
  cursor: pointer;
}

.aside-form-container form .select option {
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  color: #484848;
}

.b-contain *, .b-contain *::before, .b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.b-contain input[type=checkbox] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #f5f5f5;
  transition: background 250ms;
  border: 1px solid #b8c2cc;
  border-radius: 0.125rem;
  outline: none;
}

.b-contain input[type=checkbox] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input:disabled ~ .b-input::after {
  border-color: #8795a1;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: #f5f5f5;
}

.b-contain input:checked ~ .b-input {
  background: #654bb9;
  border-color: #654bb9;
}

.b-contain input[type=checkbox]:disabled ~ .b-input {
  background: #f1f5f8;
  border-color: #b8c2cc;
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: #654bb9;
  border-color: #654bb9;
  outline: none;
}

.products-list {
  width: 96%;
  margin: auto;
  background-color: whitesmoke;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  gap: 10px;
}

.products-list-item {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}

.products-list-item a {
  text-decoration: none;
}

.products-list-item:hover {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.27);
}

.products-list-item__image {
  width: 100%;
}

.products-list-item__title {
  font-weight: 400;
  text-align: center;
  color: #424242;
}

.products-list-item__price {
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
}

/*                  PRODUCTS VIEW                             */
.product-view {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas: "carousel carousel" "titles titles" "specifications specifications" "features features";
  background-color: #ffffff;
}

.product-view .product-view-carousel {
  width: 100%;
  grid-area: carousel;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
}

.product-view .product-view-carousel .product-view-carousel__bigImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-view .product-view-carousel .product-view-carousel__bigImage img {
  margin: auto;
}

.product-view .product-view-carousel .product-view-carousel__previewPics {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #dddddd 1px solid;
  padding-top: 10px;
  width: 90%;
  margin: auto;
}

.product-view .product-view-carousel .product-view-carousel__previewPics img {
  width: 12%;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

.product-view .product-view-title-info {
  width: 90%;
  margin: 0 auto;
  grid-area: titles;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
}

.product-view .product-view-title-info h2 {
  font-size: 1.6rem;
  text-align: left;
}

.product-view .product-view-title-info h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}

.product-view .product-view-title-info button {
  width: 100%;
  background-color: #440099;
  color: #ffffff;
  border: none;
  padding: 13px 18px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.product-view .product-view-specifications {
  grid-area: specifications;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.product-view .product-view-specifications .product-view-specifications__ul {
  width: 100%;
  padding: 0;
}

.product-view .product-view-specifications .product-view-specifications__ul h3 {
  font-size: 1.3rem;
}

.product-view .product-view-specifications .product-view-specifications__ul .product-view-specifications__li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-top: #dddddd 1px solid;
  font-size: 1rem;
}

.product-view .product-view-specifications .product-view-specifications__ul .product-view-specifications__li h3 {
  font-weight: 500;
  font-size: 1.1rem;
}

.product-view .product-view-specifications .product-view-specifications__ul .product-view-specifications__li h4 {
  font-weight: 400;
  font-size: 1rem;
}

.product-view .product-view-features {
  grid-area: features;
  margin: auto;
  margin-top: 60px;
  width: 90%;
  font-size: 1.3rem;
}

.product-view .product-view-features .product-view-features__ul {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  margin: auto;
  gap: 20px;
  padding: 0;
  font-size: 1rem;
  border-top: 1px solid #dddddd;
}

.product-view .product-view-features .product-view-features__ul .product-view-features__li {
  list-style: none;
}

.product-view .product-view-features .product-view-features__ul .product-view-features__li p {
  line-height: 24px;
}

@media screen and (min-width: 1050px) {
  .product-view {
    grid-template-areas: "carousel titles" "specifications specifications" "features features";
  }

  .product-view .product-view-carousel {
    width: 100%;
    grid-area: carousel;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
  }

  .product-view .product-view-carousel .product-view-carousel__bigImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-view .product-view-carousel .product-view-carousel__bigImage img {
    margin: auto;
    width: auto;
    height: 400px;
  }

  .product-view .product-view-specifications {
    width: 70%;
  }

  .product-view .product-view-features {
    width: 70%;
  }

  .product-view .product-view-features .product-view-features__ul {
    grid-template-columns: 50% 50%;
  }
}
.loading-bars {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb-container {
  margin-top: 20px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.breadcrumb-container div {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.breadcrumb-container div .breadcrumb-item {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 0.8rem;
}

.comparison-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 24% 19% 19% 19% 19%;
  background-color: white;
}

.comparison-container .comparison-products {
  display: grid;
  border-left: #DADADA 1px solid;
  margin: 20px 0px;
}

.comparison-container .comparison-products .comparison-products-data {
  display: grid;
  margin-bottom: 50px;
  grid-template-rows: 3fr repeat(3, 1fr);
}

.comparison-container .comparison-products .comparison-products-data img {
  width: 70%;
  height: auto;
  margin: auto;
}

.comparison-container .comparison-products .comparison-products-data h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.4rem;
}

.comparison-container .comparison-products .comparison-products-data h4 {
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  color: #006AFD;
  font-size: 0.8rem;
  padding: 0px 20px;
}

.comparison-container .comparison-products .comparison-products-data h5 {
  font-size: 1rem;
  text-align: center;
}

.comparison-container .comparison-products .comparison-products-data button {
  width: 60%;
  margin: auto;
  background-color: #654bb9;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 8px 20px;
  cursor: pointer;
}

.comparison-container .comparison-products .comparison-products-fields {
  display: flex;
  align-items: center;
}

.comparison-container .comparison-products .comparison-products-fields h5 {
  font-size: 1rem;
  padding-left: 30px;
  margin: 0;
}

.comparison-container .comparison-products .comparison-products-fields h6 {
  width: 100%;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  padding: 0px 20px;
  margin: 0;
}

.comparison-container .comparison-products .comparison-products-fields:nth-child(even) {
  background-color: #f9f9f9;
}

.comparison-container .comparison-products:nth-child(1) {
  border: none;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
